@import 'src/assets/styles/templates';

.form {
  max-width: 500px;
}

.pagination {
  margin-top: auto;
}

.error {
  @include flex-col-gap(24px);
  align-items: center;
  justify-content: center;
  height: 100vh;

  svg {
    width: 20px;
    height: 20px;
  }
}

.list {
  @include flex-col-gap(20px)
}